<% layout("layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="offset-2 col-8">
      <h2>Edit the route</h2>
      <form method="POST" action="/listings/<%=listing._id%>?_method=PUT">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" name="listing[title]" placeholder="enter title" /
          value="<%=listing.title%>" class="form-control">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            id="description"
            value="<%=listing.description%>"
            class="form-control">
          </textarea>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Image Link</label>
          <input
            type="text"
            name="listing[image]"
            value="<%=listing.image%>"
            class="form-control" />
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            name="listing[price]"
            value="<%=listing.price%>"
            class="form-control" />
        </div>
        <div class="mb-3">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            value="<%=listing.country%>"
            class="form-control" />
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="listing[location]"
            value="<%=listing.location%>"
            class="form-control" />
        </div>

        <button class="btn btn-danger mb-2">submit</button>
      </form>
    </div>
  </div>
</body>
